
.container{
    background-color: rgb(129, 175, 125);
    display: grid;
    height: 100%;
    grid-template-columns: 4fr 4fr;
    grid-template-rows: 1fr 1.5fr 0.7fr 0.5fr 1fr ;
    grid-template-areas: 
        "foto nombre"
        "biografia biografia "
        "hobbies pelicula"
        "cancion cancion "
        "materia materia";
    grid-gap: 0.2rem; 
    font-size: 2rem;
}

