*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 62.5%;
}

img{
    display: block;
    margin-left: auto;
    margin-top: 2rem;
    margin-right: auto;  
}

header{
    position: fixed;
    top: 0;
    height: 5rem; 
    width: 100%;
    background-color: #ED4A70;
    align-items: flex-end;
    text-align: right; 
}

header li{
    display: inline-block;
    margin-right: 2rem;
    padding-top: 1rem;
    font-size: 2rem;
    
}

header li a{
    text-decoration: none;
}

.container{
    background-color: #77BD81;
    margin-top: 5rem; 
    display: grid;
    height: 100%;
    grid-template-columns: 4fr 4fr;
    grid-template-rows: 1fr 1.5fr 0.7sfr 0.5fr 1fr ;
    grid-template-areas: 
        "foto nombre"
        "biografia biografia "
        "hobbies pelicula"
        "cancion cancion "
        "materia materia";
    grid-gap: 0.2rem; 
    font-size: 2rem;
}

h3{
    margin: 1rem;
}

.img{
    grid-area: foto;
}

.info{
    display: block;
    padding-top: 3rem;
    padding-bottom: 3rem;
    grid-area: nombre;
}

article{
    margin: 3rem;
    grid-area: biografia;
}

.hobbies{
    grid-area: hobbies;
    padding-left: 9rem;
}

.peli{
    grid-area: pelicula;
}

.cancion{
    grid-area: cancion;
    padding-left: 29rem;
}

.materias{
    margin-top: 3rem;
    grid-area: materia ;
    padding-left: 3rem;
}