*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 62.5%;
}

img{
    display: block;
    margin-left: auto;
    margin-top: 1.6rem;
    margin-right: auto;  
}

header li{
    display: block;
    margin-right: 2rem;
    padding-top: 1rem;
    font-size: 2rem;
    font-size: 2rem;
}

header li a{
    text-decoration: none;
}


h3{
    margin: 1rem;
}

.container{
    background-color: #77BD81;
    display: grid;
    height: 100%;
    grid-template-columns: 4fr;
    grid-template-rows: 0.3fr 0.8fr 0.5fr 1.5fr 0.5fr 0.5fr 0.5fr 1fr;
    grid-template-areas: 
        "cab"
        "foto"
        "info"
        "biografia"
        "hobbies"
        "pelicula"
        "cancion"
        "materia";
        font-size: 2rem;
}

header{
    top: 0;
    height: 11rem; 
    width: 100%;
    background-color: #ED4A70;
    text-align: left; 
    grid-area: cab;
}

.img{
    grid-area: foto;
}

.info{
    display: block; 
    padding-bottom: 3rem;
    padding-left: 2rem;
    grid-area: info;
}

article{
    margin: 3rem;
    grid-area: biografia;
}

.hobbies{
    grid-area: hobbies;
    padding-left: 3rem;
}

.peli{
    grid-area: pelicula;
    padding-left: 3rem;
}

.cancion{
    grid-area: cancion;
    padding-left: 4rem;
}

.materias{
    margin-top: 3rem;
    grid-area: materia ;
    padding-left: 1rem;
}